{% extends 'accounts/base.html' %}
{% block title %} Home {% endblock title %} 

{%block content %}
<div class="container p-5">
  <h2 class="py-1">New Music</h2>
  <hr>
  <ul class="list-group">
  {% for song in songs %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ song.title }} - {{song.artist.username}}

      <a class="btn btn-sm btn-outline-primary"
      href="{% url 'music:song-details' song.id %}">
          View
      </a>
  </li>
  {% empty %}
      <p><em>No new music</em></p>
  {% endfor %}
  </ul>
  {% if user.is_authenticated %}
  <h2 class="pt-1">Your playlists</h2>
  <hr>
  <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="mb-0">Your Playlists</h4>
                        <a href="{% url 'music:playlist-create' %}" class="btn btn-sm btn-primary">
                            Create New Playlist
                        </a>
                    </div>
                    <hr>

                    <ul class="list-group">
                        {% for playlist in user.playlist_set.all %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ playlist.title }}

                                <a class="btn btn-sm btn-outline-primary"
                                href="{% url 'music:playlist-details' playlist.id %}">
                                    View
                                </a>
                            </li>
                        {% empty %}
                            <p><em>You haven’t created any playlists yet.</em></p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
  {% endif %}
</div>
{% endblock content %}
